use Mix.Config

config :coinpayments,
    api_key: "COINPAYMENTS_API_KEY",
       api_secret: "COINPAYMENTS_API_SECRET"

# another example:
config :coinpayments,
    api_key: System.get_env("COINPAYMENTS_API_KEY"),
    api_secret: System.get_env("COINPAYMENTS_API_SECRET")